<div class = "row">
  <div class = "col-md-12 col-xs-12">
    <center><img style = "width: 50%;" src="/assets/dh.png"></center>
  </br>
    <%= form_tag happies_path, :method => :get do %>
    
  
      <%= text_field_tag :search, params[:search],
       :placeholder => 'Search by Day, Bar, or Brunch!', :class => 'form-control', 
       :style => 'width: 70%; margin-left: 6em;' %>
      <%= submit_tag "Search", :name => nil,
       :class => 'btn btn-success btn-sm', 
       :style => 'margin-top: -2.75em; margin-right: 8.7em; float:right; width: 10%; height: 2.75em;'%>
  <% end %>
  <%#= link_to("Cant find your bar?", new_happy_path) %>
  <center><%= will_paginate @posts, :style => 'margin-top: -0.2em;' %></center>
  <center><%= link_to("Reset", root_path, :style => 'margin-top: -1em;') %></center>

    <div class = "table-responsive">
    
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Bar Name</th>
          <th>Day</th>
          <th>Location</th>
          <th>Deals</th>
          <th>Phone Number</th>
        </tr> 
      </thead>
      <tbody>
    
    <% @happies.order("day").each do |happy| %>
          <tr>
            <td><%= happy.name %></td>
            <td><%= happy.day %></td>
            <td><%= happy.location %></td>
            <td><%= happy.deal %></td>
            <td><%= happy.phonenumber %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <center><%= will_paginate @posts %></center>
  <center><%= link_to("Reset", root_path) %></center>
 
</br>
</br>
  <center><small>Flip Studios</small></center>
  

  </div>
  </div>
</div>





<!--<h1>Listing happies</h1>

    <%# @happies.each do |happy| %>
      <tr>
        <td><%#= link_to 'Show', happy %></td>
        <td><%#= link_to 'Edit', edit_happy_path(happy) %></td>
        <td><%#= link_to 'Destroy', happy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
 

<%#= link_to 'New Happy', new_happy_path %>-->
